---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

Teaching has been one of my passions since my school days. I have been fortunate to learn from many great teachers throughout my life. I deeply admire the ability to explain complex ideas in simple terms. During my Ph.D., I have made the most of every opportunity as a teaching assistant, striving to present concepts in an engaging way and explore different perspectives.


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
