---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

Teaching has remained one of my passions since my school days. I have been fortunate enough to have met many great teachers over the course of my life. Being able to articulate complex ideas in simple words is something I really admire. During the course of my Ph.D., I have tried my best in all the opportunities I got as a teaching assistant to present things in an engaging way and to look at things from different points of view.


{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
